tqdm
scipy
colorama
cython
pycocotools
shapely
paddleslim==2.3.2
visualdl==2.3.0
opencv-python
scikit-learn
lap
motmetrics
matplotlib
chardet
openpyxl
numpy==1.23.0
flask_babel==2.0.0
flask
flask_cors
psutil
filelock
parl
xlwt